/* --------------------------------------------------------
Style Sheet for Saniya Saher
version: 1
last modified:
author: Saniya Saher
email: saniyasaher20@gmail.com
website:
-------------------------------------------------------*/

/* -----------------------------------------------------------
CONTENTS:
= General
= Header
= Navbar
= Mobile Navigation
------------------------------------------------------*/

/* ========== General ========== */

* {
  /* outline: 1px red solid !important; */
  visibility: visible !important
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Share+Tech&display=swap');
:root {
  --heading-font: 'Share Tech', sans-serif;
  --normal-font: 'Montserrat', sans-serif;
  --color-primary: rgb(25, 33, 56);
  --color-secondary: rgb(254, 26, 79);
  --color-light: rgb(39, 51, 93);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--normal-font);
}

*::selection {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--color-primary);
}

header::before {
  content: "";
  background: #000 url("../img/bg1.jpg") top center no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

a {
  color: #18d26e;
  text-decoration: none;
}

a:hover {
  color: #35e888;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

/* Section heading */

section {
  margin: 4rem 0;
}

.section-heading {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  color: var(--color-primary);
}

.section-heading span:first-child {
  font-family: var(--heading-font);
}

.red_line {
  animation: blink 1s steps(5, start) infinite;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: var(--color-secondary);
  margin-left: .5rem;
  align-self: flex-start;
}

@keyframes blink {
  0%, 50% {
    opacity: 0;
  }
  56%, 100% {
    opacity: 1;
  }
}

/* ========== Header ========== */

#header * {
  transition: ease-in-out 0.2s;
}

#header h1 {
  transform: skewX(-20deg);
}

#header h1 a {
  color: #fff;
  letter-spacing: 3px;
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.5;
}

#header h2 {
  margin-bottom: 3rem;
  color: rgba(255, 255, 255, 0.5);
  transform: skewX(-20deg);
  letter-spacing: 1px;
}

@media (max-width: 572px) {
  #header h1 {
    transform: skewX(-10deg);
    overflow: hidden;
  }
  #header h1 a {
    letter-spacing: unset;
    font-size: 4rem;
  }
  #header h2 {
    transform: skewX(-10deg);
    letter-spacing: unset;
  }
}

/* ========== Navbar ========== */

#s-navbar a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  letter-spacing: 1px;
  transform: skewX(-20deg);
  transition: all 0.1s ease-in-out 0s;
}

#s-navbar a::before {
  content: "";
  border-bottom: 3px solid var(--color-secondary);
  position: absolute;
  visibility: hidden;
  bottom: 0;
  height: 0;
  width: 0;
}

#s-navbar a:hover::before, #s-navbar .active::before {
  visibility: visible;
  transition: all 0.3s ease-in-out 0s;
  width: 30px;
}

#s-navbar a:hover, #s-navbar .active {
  color: #fff;
}

/* moving red splash line effect */

/* #s-navbar a:after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  animation: moving_line 3s ease-in-out 1s 1;
  color: var(--color-secondary);
  visibility: hidden;
  z-index: 1;
}

@keyframes moving_line {
  0% {
    position: absolute;
    visibility: visible;
    clip-path: polygon(40% 0, 50% 0, 0 90%, 0 70%);
  }
  33% {
    clip-path: polygon(60% 0, 70% 0, 20% 100%, 0% 100%);
  }
  66% {
    clip-path: polygon(80% 0, 90% 0, 40% 100%, 20% 100%);
  }
  100% {
    clip-path: polygon(100% 0, 110% 0, 60% 100%, 40% 100%);
  }
} */

/* ========== Mobile Navigation ========== */

@media (max-width: 572px) {
  .s-mobile-nav-toggle {
    position: fixed;
    top: 3%;
    right: 5%;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .s-mobile-nav {
    position: fixed;
    top: 10%;
    padding-top: 5rem;
    width: 100vw;
    height: 90%;
    z-index: 5;
    background: rgb(0, 0, 0, 0.9);
  }
  .s-mobile-nav .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }
  #header .navbar a::before {
    border-bottom: none;
  }
}

/* ========== About Section ========== */

#about p.lead {
  letter-spacing: 1px;
}

#about ul li::marker {
  color: var(--color-secondary);
  font-size: 1.5rem;
}

/* Skills */

.progress-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-primary);
}

.progress {
  height: 16px;
  background: #fff;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.progress .progress-bar {
  position: relative;
  background: rgb(25, 33, 56);
  background: linear-gradient(90deg, rgba(25, 33, 56, 1) 29%, rgba(40, 53, 95, 1) 87%, rgba(255, 34, 88, 1) 100%);
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
}

.progress .progress-level {
  display: block;
  font-size: .8rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
}

/* ========== Portdolio ========== */
.card__img {
width: 100%; 
}

/* ========== Footer ========== */