// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// 2. Include any default variable overrides here
/* ---------------------------- Colors ---------------------------- */
$primary: #0073F6;
$secondary: #B1AAAA; 

/* ---------------------------- Box-shadow --------------------------- */
$box-shadow:                  0 .5rem 1rem rgba($primary, .15);
$box-shadow-sm:               0 .125rem .25rem rgba($primary, .075);
// $box-shadow-lg:               0 1rem 3rem rgba($primary, .175);
$box-shadow-lg:               0 1rem 2rem -0.5rem rgba($primary, .4);
$box-shadow-inset:            inset 0 1px 2px rgba($primary, .075);

/* --------------------------------- Buttons -------------------------------- */
$input-btn-font-family: 'Montserrat', sans-serif;
$input-btn-focus-width: 0rem;

// $btn-font-size:         1.125rem;  //default bs value
// btn font size is set after rfs import
$btn-padding-y:         1em;
$btn-padding-x:         2em;

$btn-link-color:      rgba(30, 28, 36, .55);

/* ------------------------------- Typography ------------------------------- */
$font-family-base: Muli, 'sans-serif';
$headings-font-family: Muli, 'sans-serif';
$headings-font-weight:        900;
$headings-line-height:        1.1;
// $h1-font-size: 1rem * 3.75; /*60px*/

/* -------------------------------------------------------------------------- */
/*                                   Mixins                                 */
/* -------------------------------------------------------------------------- */

 /* -------------------------------------------------------------------------- */
 /*                    Then add additional custom code here                    */
 /* -------------------------------------------------------------------------- */

@import "../node_modules/bootstrap/scss/bootstrap";


.btn-link {
  font-weight: 400;
}

p{
  font-size: .875rem; //14px
}

.boxShadowHover {
  &:hover {
    box-shadow: $box-shadow-lg;
    background-color: $primary;
  }
  &:hover * {
    color: #fff;
  }
  &:hover h3:only-of-type{
    text-decoration: underline;
  }
}


@import "../node_modules/bootstrap/scss/vendor/rfs";

.hero__title {
  @include font-size(15.625rem); 

  @include media-breakpoint-down(lg) {
    @include font-size(11.625rem);  
  }

}

.hero__lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  @include font-size(1.125rem); 
  @include media-breakpoint-down(lg) {
    @include font-size(.875rem); 
  }
}

.btn{
  @include font-size(1rem);
  @include media-breakpoint-down(lg){
    @include font-size(.875rem);
  }
}

.features {
  @include padding-top(23rem);
}

// these are bs desault variables, $font-size-base=1rem, 
// $h1-font-size:                $font-size-base * 2.5 !default; //=2.5rem
// $h2-font-size:                $font-size-base * 2 !default;  //=.2rem
// $h3-font-size:                $font-size-base * 1.75 !default; //=1.75rem
h1,
.h1 {
  @include font-size(9.375rem); //150px
  @include rfs(900, font-weight);
}

h2,
.h2 {
  @include font-size(3.75rem); //60px
  @include rfs(900, font-weight);
}
h3,
.h3 {
  @include font-size(1.875rem); //30px
}

/* ---------------------------------- CTA --------------------------------- */
section.cta {
  @include margin-top(15em);
}